.Welcome {
  position: relative;
  height: 600px; 
  background: url('DesignSectionStuff/Images/WritingImageforWebsite.jpg') center/cover no-repeat; 
  color:#f7f7f7;
  overflow: hidden;
  font-size: 60px;
  font-family: "Montserrat";
  font-weight: bold;

  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 5%; 
}

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden; 
}

.slider img{
  width: 100%;
  display: none;
}

img.displaySlide{
  display: block;
}
.Description
{
    background-color: #afa491;
    padding: 150px 90px;
    scroll-margin-top: 99px;
    position: relative;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3e3e3e;
}

.blog-column {
  background-color: #fef9ec;
  background-color: var(--light);
  padding: 90px 90px;
  scroll-margin-top: 99px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Montserrat';
  display: flex;
}

.blog-pic{
  margin-left: 10%;
  width: 350px; 
  border-radius: 8px; 
  object-fit: cover; 
  box-shadow: 0 4px px rgba(0, 0, 0, 0.15); 
}

.profile-page{
  background-color: #fef9ec;
  background-color: var(--light);
  padding: 90px 90px;
  scroll-margin-top: 99px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Montserrat';
  display: flex;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.blog-item {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-radius: 12px;
  overflow: hidden;
  max-width: 550px;
}

.blog-item img {
  width: 50%;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: 'Montserrat';
}

.blog-content a {
  text-decoration: none;
  color: #5a4233;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Montserrat';
}

.blog-content a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blog-item {
      flex-direction: column;
      max-width: 100%;
  }

  .blog-item img,
  .blog-content {
      width: 100%;
  }
}

@font-face
{
  font-family: "Montserrat";
  src: url(../../Fonts/Montserrat-VariableFont_wght.ttf)
}

.Description
{
  background-color: #afa491;
  padding: 150px 90px;
  scroll-margin-top: 99px;
  position: relative;
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3e3e3e;
}

.Heading{
font-weight: bold;
font-size: large;
}

.blog-grid{
  background-color: #fef9ec; 
  padding: 80px 60px; 
  font-family: 'Montserrat';
}






 