.welcome {
  position: relative;
  height: 600px; 
  color:#f7f7f7;
  overflow: hidden;
  font-size: 80px;

  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

body{
  background-image: url('/DesignSectionStuff/Images/WritingImageforWebsite.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}




 