.design
{
    background: url('../DesignSectionStuff/Images/DesignImage.jpeg') no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%; 
}

.design h2
{
    font-size: 80px;
    margin: 0;
    padding: 0 60px;
    padding-bottom: 40px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
}

.Description
{
    background-color: #afa491;
    padding: 150px 90px;
    scroll-margin-top: 99px;
    position: relative;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3e3e3e;
}

body {
    margin: 0;
    font-family: 'Montserrat'; 
    background-color: #fefaf3;
    color: #3e3e3e;
}

.Interface{
    display: flex;
    flex-direction:column;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    padding: 80px 80px; 
    margin: 40px 40px; 
}

.Icons{
    display: flex;
    flex-direction:column;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    padding: 80px 80px; 
    margin: 40px 40px; 
}
  
  .heading{
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }

  .blog-item {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    overflow: hidden;
    max-width: 1000px;
  }
  
  .blog-item img {
    width: 50%;
    object-fit: cover;
  }
  
  .blog-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-family: 'Montserrat';
  }
  
  .blog-content a {
    text-decoration: none;
    color: #5a4233;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat';
  }
  
  .blog-content a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .blog-item {
        flex-direction: column;
        max-width: 100%;
    }
  
    .blog-item img,
    .blog-content {
        width: 100%;
    }
  }