.design
{
    background: url('../DesignSectionStuff/Images/DesignImage.jpeg') no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%; 
}

.design h2
{
    font-size: 80px;
    margin: 0;
    padding: 0 60px;
    padding-bottom: 40px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
}

.Description
{
    background-color: #afa491;
    padding: 150px 90px;
    scroll-margin-top: 99px;
    position: relative;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3e3e3e;
}