body{
    background: rgb(48, 48, 48); 
}

container {
    margin: 0 auto; 
    height: 50vh; 
    width: 50%; 
    border: 2px solid white; 
    border-radius: 5px; 
    padding: 50px; 
}

.container h3, h5{
    color: rgb(238, 138, 44);
}

.container button{
    background: black; 
    color: white; 
    border-radius: 5px; 
    border: 1px solid white; 
    padding: 10px 20px; 
    transition: ease-in-out 0.5s;  
}

.container button:hover{
    background: white;
    color: black; 
    border: 1px solid black; 
    cursor: pointer; 
}