.Blogs{
    position: relative;
    height: 600px; 
    background: url('../DesignSectionStuff/Images/Drawing.jpg') center/cover no-repeat; 
    overflow: hidden;
    color: #f7f7f7;
    font-size: 80px;
    font-family: "Montserrat";
  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 5%; 
  }

body {
    margin: 0;
    font-family: 'Montserrat'; 
    background-color: #fefaf3;
    color: #3e3e3e;
}

.Description
{
    background-color: #afa491;
    padding: 150px 90px;
    scroll-margin-top: 99px;
    position: relative;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3e3e3e;
}

.Heading{
  font-weight: bold;
  font-size: large;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.art-and-writing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.art{
    background-color: #fffaf2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    padding: 20px;
}

.art img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

@font-face
{
    font-family: "Montserrat";
    src: url(../../Fonts/Montserrat-VariableFont_wght.ttf)
}

.letterbox-wrapper {
    position: relative; 
    width: 100%;
    max-width: 500px; 
    aspect-ratio: 16/9;
    background-color: #3e3e3e;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: auto; 
    overflow: hidden;
}

.letterbox-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    cursor: pointer; 
    transition: outline 0.2s ease; 
}

.letterbox-image.selected {
    outline: 4px solid limegreen;
    border-radius: 4px;
}

#lightbox-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,0.09);
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
}

.lightbox-content{
    position: relative;
    max-width: 90%;
    max-height: 90%; 
}

.lightbox-content img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px; 
}

#lightbox-close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 30px;
    color: white;
    background: black;
    border-radius: 50%;
    padding: 5px 12px;
    cursor: pointer;
}

.hidden {
    display: none;
}
