.Blogs{
    position: relative;
    height: 600px; 
    background: url('../DesignSectionStuff/Images/Game.jpg') center/cover no-repeat; 
    overflow: hidden;
    color: #f7f7f7;
    font-size: 80px;
    font-family: "Montserrat";
  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 5%; 
  }

body {
    margin: 0;
    font-family: 'Montserrat'; 
    background-color: #fefaf3;
    color: #3e3e3e;
}

.Description
{
    background-color: #afa491;
    padding: 150px 90px;
    scroll-margin-top: 99px;
    position: relative;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3e3e3e;
}

.Heading{
  font-weight: bold;
  font-size: large;
}