.DateandHeading {
  position: relative;
  height: 600px;
  overflow: hidden;
  color: #f7f7f7;
  font-size: 50px;
  font-family: "Montserrat";

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.DateandHeading h2 {
  text-shadow: 2px 2px 6px rbga(90, 66, 51, 0.2);
}

.datetime {
  text-shadow: 2px 2px 6px rbga(90, 66, 51, 0.2);
}

.heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Montserrat";
  background-color: #fefaf3;
  color: #3e3e3e;
}

.Reading {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  padding: 80px 80px;
  margin: 40px;
}

.Numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  padding: 20px 0;
  font-family: "Montserrat";
  flex-wrap: wrap;
}

.Numbers a {
  text-decoration: none;
  color: #5a4233;
  background-color: #fdf6ec;
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
  min-width: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Numbers a:hover {
  background-color: #e9dccd;
}

.Numbers a.active {
  background-color: #d1bfa7;
  color: white;
  font-weight: bold;
}

.Numbers .arrow {
  font-weight: bold;
  background-color: #d3c3ae;
  color: #fff;
}
